{% extends "base.html" %}

{% block content %}
    <h2>Window {{ object.pk }}</h2>
    <h3>Location:</h3>
    <p>Building - {{ object.building }}</p>
    <p>Notes - {{ object.notes }}</p>
    <h3>Pi</h3>
    <p>mac address - {{ object.pi.mac_address }}</p>

    <h3>Projector</h3>
    <p>Projector Connected - {{ object.pi.projector_connected }}</p>
    <p>Projector On - {{ object.pi.projector_on }}</p>
    <p>
        {{ object.pi.status }}
    </p>
    <div class="col-xs">
        <h3>Actions:</h3>
        <ul>
            <li><a class="btn btn-success" href="{% url 'pi:pi-projector-on' pk=object.pi.pk %}">Turn Projector On</a></li>
            <li><a class="btn btn-danger" href="{% url 'api:pi-projector-off' pk=object.pi.pk %}">Turn Projector Off</a></li>
            <li><a class="btn btn-primary" href="{% url 'api:pi-get-status' pk=object.pi.pk %}">Get Status</a></li>
        </ul>
    </div>
    <div class="row">
        <h3>Files</h3>
        <table class="table table-bordered">
            {% for f in object.pi.cachefile_set.all %}
                <tr><td>{{ f.file_name }}</td><td><a class="btn btn-default">Play</a></td></tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
